<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
   <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
    <h3 class="text-3xl">Create Account</h3>
    <form action="/register" method="post">
        <input type="text" placeholder="Username" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" name="username">
        <input type="email" placeholder="Email" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" name="email">
        <input type="number" placeholder="Age" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" name="age">
        <input type="password" placeholder="Password" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" name="password">
        <button class="bg-blue-500 text-white p-2 m-5 rounded">Submit</button>
    </form>
   </div>
</body>
</html>